*{
  margin: 0;
  padding: 0;
  
}

body{
  background-color: rgb(180, 178, 178);
}

.content {  
  text-align: center;
  padding: 100px;
}

h1{
  padding:30px
}

h2{
  padding:25px
}

button{
  padding:10px;
  margin: 10px;
  background-color: antiquewhite;
}




